/* Setting grid to default */
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}


/* 
		--------Start of a main gird--------
*/
.grid {
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content min-content auto min-content;
	grid-template-areas: 
	"title title"
	"header header"
	"navigation navigation"
	"content content"
	"footer footer";

}
/*
			---------- start of title --------- 
*/
.title {
	grid-area: title;
	display: grid;
	grid-template-columns: 10% 80% 5% 5%;
	grid-template-areas: 
	"logo search_bar login basket";
	text-align: center;
	align-items: center;
	background-color: #2e2a27;
	padding: 10px;
}
.logo {
	grid-area: logo;
	margin-left: 150px;
	
}
.search_bar {
	grid-area: search_bar;	
}
.search_bar input{
	width: 50%;
	height: 30px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.search_bar button {
	background-color: orange;
	color: white;
	border: none;
	border-radius: 5px;
	width: 75px;
	height: 30px;
}
.search_bar button:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  }
.login {
	grid-area: login;
	
}
.basket {
	grid-area: basket;
	
}
/*
		---------- End of title --------- 
*/

/*
		---------- Start of header --------- 
*/
.header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"home products support contacts";
	align-items: center;
	text-align: center;
	color: white;
	background-color: #3f3832;
	padding: 10px;
}
.header a{
	color: white;
	transition: color 0.4s;
}
.header a:link { 
	text-decoration: none;
 }

.header a:visited { 
	text-decoration: none; 
}

.header a:hover { 
	text-decoration: none;
	color: orange;
}

.header a:active { 
	text-decoration: none; 
}

.home {
	grid-area: home;
}
.products {
	grid-area: products;
}
.support {
	grid-area: support;
}
.contacts {
	grid-area: contacts;
}
/*
		---------- End of header --------- 
*/

/*---------- Start of sidebar --------- */
.navigation {
	grid-area: navigation;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-areas: "sidebar ad_Slider";
	background-color: #ededeb;
	align-items: left;
	text-align: left;
}
.sidebar {
	grid-area: sidebar;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: white;

}
.sidebar_element {
	display: inline;
	padding: 5px;
}
.sidebar ul{
	list-style: none;
}
.sidebar img {
	padding-right: 10px;
	
}
.sidebar_element a{
	color: black;
	transition: color 0.4s;
}
.sidebar_element:hover { 
	
	filter: invert(54%) sepia(97%) saturate(486%) hue-rotate(0deg) brightness(104%) contrast(103%);
}
.sidebar_element a:link { 
	text-decoration: none;
 }
 .sidebar_elementr a:visited { 
	text-decoration: none; 
}
.sidebar_element a:active { 
	text-decoration: none; 
}
.ad_slider {
	grid-area: ad_slider;
}
.slide {
	display: none;
}
.slide img {
	vertical-align: middle;
	margin-top: 30px;
}
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
/*---------- End of sidebar --------- */

/*---------- Start of content --------- */
.content {
	grid-area: content;
	background-color: #ededeb;
	border: 2px solid black;
}
.product {
	position: relative;
	overflow: hidden;
	padding: 20px;
  }
  
  .product-category {
	padding: 0 10vw;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 40px;
	text-transform: capitalize;
  }
  
  .product-container {
	padding: 0 10vw;
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
	display: none;
  }
  
  .product-card {
	flex: 0 0 auto;
	width: 250px;
	height: 450px;
	margin-right: 40px;
  }
  
  .product-image {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
  }
  
  .product-thumb {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .discount-tag {
	position: absolute;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	color: #ff7d7d;
	right: 10px;
	top: 10px;
	text-transform: capitalize;
  }
  
  .card-btn {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 90%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0;
  }
  
  .product-card:hover .card-btn {
	opacity: 1;
  }
  
  .card-btn:hover {
	background: #ff7d7d;
	color: #fff;
  }
  
  .product-info {
	width: 100%;
	height: 100px;
	padding-top: 10px;
  }
  
  .product-brand {
	text-transform: uppercase;
  }
  
  .product-short-description {
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	opacity: 0.5;
	text-transform: capitalize;
	margin: 5px 0;
  }
  
  .price {
	font-weight: 900;
	font-size: 20px;
  }
  
  .actual-price {
	margin-left: 20px;
	opacity: 0.5;
	text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
	border: none;
	width: 10vw;
	height: 100%;
	position: absolute;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	cursor: pointer;
	z-index: 8;
  }
  
  .pre-btn {
	left: 0;
	transform: rotate(180deg);
  }
  
  .nxt-btn {
	right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
	opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
	opacity: 1;
  }
  
  .collection-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
  }
  
  .collection {
	position: relative;
  }
  
  .collection img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .collection p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	font-size: 50px;
	text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
	grid-column: span 2;
	margin-bottom: 10px;
  }
  
/*---------- End of content --------- */

/*---------- Start of footer --------- */
.footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"footer_offer_text footer_agree"
	"footer_input footer_agree";
	background-color: #2e2a27;
	padding: 30px;
	gap: 10px;
}
.footer_offer_text {
	grid-area: footer_offer_text;
}
.footer_input {
	grid-area: footer_input;
}
.footer_agree {
	grid-area: footer_agree;
}
.footer h5 {
	color: white;
}
.footer input {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.footer button {
	color: white;
	background-color: orange;
	border-radius: 5px;
	height: 30px;
	width: 100px;
}
.footer button:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}
.footer_agree input[type="checkbox"]{
	border-radius: 5px;
	-webkit-appearance:none;
	width:15px;
	height:15px;
	border:1px solid darkgray;
	
	outline:none;
	box-shadow:0 0 5px 0px gray inset;
}
input[type='checkbox']:hover {
	box-shadow:0 0 5px 0px orange inset;
  }
  input[type='checkbox']:before {
	content:'';
	display:block;
	width:60%;
	height:60%;
	margin: 20% auto;    
	border-radius:50%;    
  }
input[type='checkbox']:checked:before {
	background:orange;
}
.footer_agree strong {
	color: white;
}
/*---------- End of footer --------- */
/*End of a main grid*/

/* Mobile scaling */
@media screen and (min-width: 736px) {
	.grid {
		min-height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content min-content auto min-content;
		grid-template-areas: 
		"title title"
		"header header"
		"navigation navigation"
		"content content"
		"footer footer";
	}
}